.container{
    display:grid;
    grid-gap:5px;
    grid-template-columns: repeat(3, 100px);
    grid-auto-rows: 65px;

    height: 100%;
    background-color: yellow;
    border: 2px solid;

    justify-content:end;
    align-content:space-evenly;
    /* end, center, space-between, space-evenly */
}

.header{
    background-color: blue;
}

.menu{
    background-color: green;
}

.content{
    background-color: red;
}

.footer{
    background-color: orange;
}